/* %%%%%%%%%% GALLERY %%%%%%%%%%%% */
/* Mobile size */
/* Inside the grid of style-container-nav */

.gallery {
    display: grid;
    flex: 1;
    margin-top: 1em;
    padding: 6em;
    width: 100%;
}
/* .gallery .container {
    margin: 0 auto;
} */

.gallery-auto-grid {
    display: grid;
    padding: 0;
}


.gallery-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: rgba(255, 242, 224, 0.144);
    margin: 0 auto;
    align-content:space-around ;
    transition-duration: 0.3s, 0.5s;
}

.gallery-item__image-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    z-index: -20;
    top: 25%;
}
.gallery-item_image {
    display: flex;
    position: absolute;
    top: -10%;
    height: 130%;
    object-fit: cover;
    align-self: center;
    z-index: -50;
}
.gallery-item__title-container::after {
    content: "";
    display: flex;
    position: absolute;
    place-self: center;
    margin: 0 auto;
    width: 100%;
    height: 130%;

    top: -10%;
    left: 0%;
    align-items: center;
    text-decoration: none;

    backdrop-filter: invert(90%);
    -webkit-backdrop-filter: invert(90%);
    transition: all 0.5s ease-in-out;
    z-index: 20;
}
.gallery-item__title-container {
    display: flex;
    position: relative;
    place-self: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    top: -25%;
    left: 0%;
    align-items: center;
    text-decoration: none;
    justify-content: center;

    transition: all 0.5s ease-in-out;
    z-index: 20;
}

.gallery-item_title {
    position: absolute;
    
    font-size: 5em;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    justify-self: center;
    align-self: center;

    top: -50%;
    left: 50%;

    color: rgba(0, 0, 0, 0.5);
    /* border: 2px solid black; */
    font-weight: 400;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 1em 0 var(255, 255, 255), 0 0 1em 0 var(255, 255, 255) ;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 2;
}


.gallery-item__title-container .gallery-nav-links {
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}

.gallery-item:hover .gallery-item__image-container, 
.gallery-item:focus .gallery-item__image-container {
    /* transform: scale(.99); */
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    box-shadow: 0em 0em 2em hsla(305, 64%, 22%, 0.9), 0em 0em 6em hsla(305, 100%, 46%, 0.9);
}

.gallery-item:hover .gallery-item__title-container::after ,
.gallery-item:focus .gallery-item__title-container::after {
    display: none;
}


.gallery-item:hover .gallery-nav-links, 
.gallery-item:focus .gallery-nav-links {
    color: rgb(232, 232, 232);
    text-shadow: 0px 0px 4px black, 0 0 25px rgb(0, 255, 255), 0 0 10px darkblue;
    font-weight: 800;
    transform: scale(1.4);
    margin: 0 auto;
    box-shadow: 0em 0em 10em  hsla(128, 255, 225, 0.54);
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 50;
}
.gallery-item__title-container:hover .gallery-item_title, 
.gallery-item__title-container:focus .gallery-item_title {
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);   
}

/* FOOTER & SIDEBARS */
footer {
    display: flex;
}
.sidebar-left,
.sidebar-right {
    display: none;
}

/* PROJECTS PAGE */
.projects {
    display: flex;
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    align-self: center;

}
.project .project-list {
    display: flex;
}
.projects .project-list {
    margin-left: 0;
    padding: 0;
}
.projects .list-item {
    font-size: 1.5em;
    margin: 1em auto;
    text-align: center;
    list-style: none;
    text-transform: lowercase;
}

@media screen and (min-width: 600px) {
/* GALLERY MEDIA QUERY */
    main {
        overflow: auto;
    }
    .gallery {
        display: grid;
        grid-column: 1;
        grid-row: 1 / span 2;
        flex: 1;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .gallery::-webkit-scrollbar {
        display: none; 
      }

    .gallery-auto-grid {
        display: grid;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        gap: 2rem;
        padding: 0.5em;
        /* grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 2fr)); */
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
    .gallery-item {
        width: 100%;
        margin: 0 auto;
        /* max-width: 375px; */
    }

    .gallery-item__title-container:hover .gallery-nav-links, 
    .gallery-item__title-container:focus .gallery-nav-links {
        transform: scale(1.5) translate(-0%, -0%);
    }
    .page-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        height: 100%;
    }

    .projects {
        align-self: center;
    }
    .project .project-list {
        display: flex;
    }
    
    .projects .project-list {
        margin-left: 0;
        padding: 0;
    }
    .projects .list-item {
        margin: 0 auto;
        text-align: center; 
        list-style: none;
        font-size: 1.5em;
        margin: 1em;
        padding: 0;
    }
}
