*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --blue: rgba(124, 213, 255, 0.815);
    --peach-white: rgb(255, 253, 246);
    --clear-white: rgba(255, 255, 255, 0.5);
    --sidebar-padding: 1.5em;
    font-size: 21px;
}
h1,
h2,
h3 {
    font-family: sans-serif;
    font-weight: 300;
    font-style: normal;
}
h1 {
    font-size: 1.5em;
}
body {
    font-family: "neue-haas-unica-Thin", sans-serif;
    font-weight: 300;
    font-size: 0.5rem;

    background: var(--peach-white);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
}

/* %%%%%%%%%% NAVIGATION %%%%%%%%%%% */
/* %%%%%%%%%% NAVIGATION %%%%%%%%%%% */
/* %%%%%%%%%% NAVIGATION %%%%%%%%%%% */
/* %%%%%%%%%% NAVIGATION %%%%%%%%%%% */
/* %%%%%%%%%% NAVIGATION %%%%%%%%%%% */
.overlay * {
    display: none;
}
.sticky-header {
    width: 100%;
    position: fixed;
    top: -10px;
    left: -.05125em;
    z-index: 999;
    padding: 0;
    backdrop-filter: blur(10px);
    border-radius: 0 0 5px 10px;
    /* border: 0.35px solid rgba(255, 255, 255, 0.374); */
    box-shadow: 0 0px 5px 5px var(--peach-white);
    /* box-shadow: 0 0px 5px 5px rgba(0, 0, 0, .3); */
    background: var(--clear-white);
    background: linear-gradient( 0deg, var(--peach-white), var(--clear-white) 60%);
}

.container {
    padding: 0.5rem;
    margin: 1.25rem auto;
    width: 100%;
}
.sticky-header .row {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.name-container {
    display: flex;
    padding: var(--sidebar-padding);
    max-width: 200px;
    /* border: 2px solid green; */
}
.name-container > .name {
    font-size: 1.75em;
}


/* BURGER ICON & MENU */
.tab-focus .tab {
    display: flex;
    font-weight: 200;
    font-size: 1.2em;
}
.tab-focus {
    width: 40%;
}
.clockwise__top,
.clockwise__bottom {
    width: 2em;
    height: 0.25em;
    margin: 0.25em auto;
    margin-right: 0.25em;
    transform-origin: 40% 50%;
    /* transition: all 0.5s; */
    /* background: radial-gradient(
        circle 3rem,
        rgba(0, 0, 0, 0.139)5%,
        rgba(73, 73, 73, 0.4)); */
    background-color: hsla(173, 60%, 50%, 0.3);
    
    backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 0.35px solid rgba(0, 229, 255, 0.259);
    box-shadow: 0 0 2px 1px rgba(0, 229, 255, 0.268);   
    /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3); */
    z-index: 21;
    transition: all 0.3s cubic-bezier(.14,.86,1,1.12);
}
.burger-nav-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background:rgba(255, 255, 255, 0);
    z-index: 21;
    /* transition: 0.3s cubic-bezier(.59,-0.95,.37,2.28); */
}
.btn-checkbox-area:hover .clockwise__top,
.btn-checkbox-area:hover .clockwise__bottom {
    box-shadow: 0 0 2em 0.2em rgb(0, 229, 255);
    /* background: rgba(0, 229, 255, 0.558); */
    background: radial-gradient(
        circle 3rem,
        rgba(0, 0, 0, 0.139)5%,
        rgba(73, 73, 73, 0.4));
}
#burger-button:checked + .btn-checkbox-area:hover .burger-nav-icon .clockwise__top,
#burger-button:checked + .btn-checkbox-area:hover .burger-nav-icon .clockwise__bottom {
    box-shadow: 0 0 2em 0.2em rgba(255, 0, 0, 0.685);
    /* box-shadow: 0 0 10px 0.5px rgba(37, 37, 37, 0.597) */
}
#burger-button:checked + .btn-checkbox-area .burger-nav-icon .clockwise__top {
    /* background-color: rgba(0, 255, 255, 0.3); */
    background-color: hsla(173, 60%, 50%, 0.3);
    box-shadow: 0 0 10px 1px rgba(0, 229, 255, 0.4);   
    /* background-color: aqua;
    box-shadow: 0 0 10px 1px rgba(0, 229, 255, 0.685);    */
    transform:
        translateY(-0.05em) 
        translateX(0.8em)
        rotate3d(0, 0, 1, 135deg);
}
#burger-button:checked + .btn-checkbox-area .burger-nav-icon .clockwise__bottom {
    background-color: hsla(173, 60%, 50%, 0.3);
    box-shadow: 0 0 10px 1px rgba(0, 229, 255, 0.4);    
    transform: 
        translateY(-0.85em)
        translateX(0.5em)
        rotate3d(0, 0, 1, 45deg);
}
.btn-checkbox-area {
    display: grid;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    margin: 0 auto;
    font-size: 12px;
    transition: all 1s ease-in-out;
}
#burger-button {
    display: none;
    padding: 1em;
    margin: 2em;
    justify-content: center;
    transition: all 1s ease-in-out;
}

.burger-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    max-width: fit-content;
    margin: 0;
    transition: all 1s ease-in;
    /* border: 2px solid blue; */
}

/* NAV-MODAL */
.nav-modal {
    visibility: hidden;
    position: absolute;
    display: flex;
    left: 50%;
    top: 40%;
    width: 100%;
    transform: translate(-5%, -48%) scale(0.1);
    margin: 0.5em auto;
    flex-direction: column;
    justify-content:flex-end;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .25);
    background: radial-gradient(
        circle 17rem,
        rgba(220, 251, 253, 0.139) 2%,
        rgba(52, 232, 249, 0.08) 45%,
        rgba(236, 197, 254, 0.16));
    /* background: radial-gradient(
        circle 17rem,
        rgba(220, 251, 253, 0.139) 10%,
        rgba(52, 232, 249, 0.139) 45%,
        rgba(236, 197, 254, 0.16)); */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
    backdrop-filter: blur(8px);
    transition-duration: 0.3s, 0.5s;
    transition-timing-function: ease-in-out;   
    justify-content: flex-end;
    z-index: 20;
}
.modal-container * {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
    margin: 0.35em auto;
    /* transition: 0.2s ease-in; */
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    line-height: 2em;
    letter-spacing: 0.4em;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    /* box-shadow: inset 0 0 1em 0 var(255, 255, 255), 0 0 1em 0 var(255, 255, 255) ; */
}

.modal-nav-links {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 2.5rem;
    text-decoration: none;
}
    
.modal-nav-links:hover,
.modal-nav-links:focus {
    color:  rgb(16, 62, 63)!important;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0px 20px rgba(128, 234, 255, 0.816);
}

#burger-button:checked + .btn-checkbox-area .nav-modal .flex-container * {
    color: rgb(184, 182, 182);
}
.flex-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
#burger-button:checked + .btn-checkbox-area .nav-modal {
    width: 97%;
    transform: translate(-50%, -5%);
    visibility: visible;
}

/* %%%%%%%%%%%%%% PROJECT PAGE CONTENT %%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%% PROJECT PAGE CONTENT %%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%% PROJECT PAGE CONTENT %%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%% PROJECT PAGE CONTENT %%%%%%%%%%%%%%%% */
.grid-container {
    display: none;
    grid-template-columns: 1fr repeat(4, 2fr) 1fr;
    grid-template-rows: 4fr 1fr 8fr;
    height: 100%;
}
.hero.row-1{
    display: none;
    grid-row: 1;
}

.hero-container {
    display: flex;
    position: relative;
    width: 100%;
}
.hero-image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    z-index: -10;

}
.hero-image {
    height: 100%;
    width: 400%;
    top: 25%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    /* transform: translateX(25%); */
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    background: rgba(255, 255, 255, .25);
    padding: 0;
    color: white;
}
.hero-title {
    font-size: 5em;
    margin: 0 ;
}
.hero-subtitle {
    font-size: 2em;
    margin: 0;
}

.projects {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10em auto;
    justify-content: center;
    justify-self: center;
    z-index: 10;
}
.projects .container {
    /* justify-content: center; */
    align-content: center;

}
.project-list {
    text-decoration: none;
    list-style: none;
    text-align: center;
}
/* .projects {
    display: none;
} */


.grid-itm.categories {
    /* border: 2px solid black; */
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    /* align-items: center; */
}
.categories-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* border: 2px solid green; */
    justify-content: center;
}
.category {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */

}
.text-box {
    display: flex;
    /* border: 2px solid red; */
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid black; */
    padding: 0;
    padding-bottom: 1em;
}

.text-box > * {
    /* border: 2px solid green; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}

.category + .category {
    border-top: 2px solid black;
}
.text-box h2 {
    text-transform: uppercase;
    justify-self: center;
    /* border: 2px solid green; */
    text-align: center;
}
.text-box p {
    width: 100px;
    flex-direction: column;
    text-align: right;
}

.grid-itm.main-article {
    border: 2px solid grey;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}
.flex-container.main-article {
    grid-column-start: 2 ;
    grid-column-end: 5;
    grid-row-start: 3 ;
    grid-row-end: 4;

}
.grid-itm.categories {
    flex-direction: row;
}

.grid-itm.main-article.article {
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
}
/* %%%%%%%%%%%%%% !!!!!!!!!!MEDIA QUERIES!!!!! %%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%% !!!!!!!!!!MEDIA QUERIES!!!!! %%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%% !!!!!!!!!!MEDIA QUERIES!!!!! %%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%% !!!!!!!!!!MEDIA QUERIES!!!!! %%%%%%%%%%%%%% */
/* Maybe change later */
@media screen and (min-width: 600px) {
    /* %%%%%%%%%%%% NAVIGATION %%%%%%%%%%%% */
    /* %%%%%%%%%%%% NAVIGATION %%%%%%%%%%%% */
    /* %%%%%%%%%%%% NAVIGATION %%%%%%%%%%%% */
    /* %%%%%%%%%%%% NAVIGATION %%%%%%%%%%%% */
    .sticky-header {
        display: none;
    }
    .overlay * {
        display: block;
        z-index: -10;

    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: space-between;
        justify-content: space-between;
        flex-direction: row;
        /* border: 3px solid orange; */

    }

    .overlay-column1,
    .overlay-column2 {
        display: flex;
        height: 100%;
        width: 8.5em;
        /* background: rgba(255, 255, 255, 0.917); */
        flex-direction: column;
        flex-direction: column;
        justify-content: space-between;

        backdrop-filter: blur(2px);
        border-radius: 0 0 2px 8px;
        /* border: 0.35px solid rgba(255, 255, 255, 0.374); */
        box-shadow: 0 0px 0px 1px rgba(255, 255, 255, 0.3);
        /* box-shadow: 0 0px 5px 5px rgba(0, 0, 0, .3); */
        /* background: var(--clear-white); */
        z-index: 20;
    }
    .overlay-column1 {
        background: linear-gradient(90deg, rgba(0, 0, 0, .4), rgba(255, 255, 255, 0.1))
    }
    .overlay-column2 {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.4))
    }
    .overlay-column-item {
        padding: 3em;
        background: rgba(0, 128, 0, 0.353);
    }
    /**** LEFT COLUMN ****/
    .name-container {
        display: flex;
        padding: var(--sidebar-padding);
        max-width: 100px; 
        z-index: inherit;
    }
    .name-container > .name {
        font-size: 1.75em;
        padding: 0;
        margin: 0 auto;
    }
    .nav-container .nav {
        text-decoration: none;
        padding-left: 1em;
        color: black;
    }
    .nav-container .nav + .nav {
        padding-bottom: 1.75em;
    }
    .nav-container .nav span {
        padding-bottom: .5em;
    }
    .nav-container .nav span + span {
        padding-bottom: 0;
    }
    /***** RIGHT COLUMN ****/
    .sidebar-container {
        display: flex;
        margin: 0 auto;
        padding-top: 0;
        /* max-width: 100px; */
        padding: var(--sidebar-padding);
    }
    .sidebar-container .sidebar-content {
        display: flex;
        /* font-size: 2.5em; */
        padding: 0;
        margin: 0 auto;
    }
    .sidebar-content .nav-links {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 0.5rem;
        text-decoration: none;
        padding: 0;
    }
    .nav-menu {
        padding: 0;
        margin-top: 0;
    }
    .sidebar-content ul {
        list-style: none;
        padding: 0;
        text-align: right;
        overflow: hidden;
        z-index: 20;
    }
    .sidebar-content ul li .nav-links {
        font-size: .75em;

    }
    .sidebar-content li > h2 {
        margin-top: 0;
    }
    .sidebar-content li {
        white-space: nowrap;
        padding: 0;
    }
    .nav-menu li:hover,
    .nav-menu li:focus {
        border-radius: 10px;
        box-shadow: inset 0 0 25em rgba(128, 255, 225, 0.212);
        /* offset-x | offset-y | blur-radius | color */
        text-shadow: 0px 0px 7px rgba(128, 234, 255, 1);
        transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .sidebar-content:hover h2,
    .sidebar-content:focus h2 {
        transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        text-shadow: 0px 0px 7px rgba(128, 234, 255, 1);
        color: rgba(128, 234, 255, 1)!important;
        margin: 1.25em auto;
    }



    /* %%%%%%%%%%%% PROJECT PAGE  %%%%%%%%%%%% */
    /* %%%%%%%%%%%% PROJECT PAGE  %%%%%%%%%%%% */
    /* %%%%%%%%%%%% PROJECT PAGE  %%%%%%%%%%%% */
    .row-3 {
        z-index: 10;
    }
    .category {
        z-index: 20;
    }
    .hero-image-container,
    .hero-container {
        z-index: -10;
    }
    .categories-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .categories {
        /* display: flex; */
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
    }
    .category {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        margin: 0 auto;
    }
    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 2em;
        margin: 0;
        padding: 0;
    }
    .text-box > * {
        padding: 0;
        margin: 0;
    }
    .text-box h2{
        margin-bottom: 0.25em;
    }
    .text-box p {
        text-align: center;
    }

    .categories .category {
        flex-direction: column;
        text-align: center;
        width: 100px;
        margin-bottom: 0.5em;
        padding-bottom: 1em;
    }
    .category + .category {
        border-top: 0;
    }

    /* %%%%%%%%%%%% MAIN PAGE CONTENT %%%%%%%%%%%%%% */
    /* %%%%%%%%%%%% MAIN PAGE CONTENT %%%%%%%%%%%%%% */
    /* %%%%%%%%%%%% MAIN PAGE CONTENT %%%%%%%%%%%%%% */
    .grid-itm.categories {
        padding: 1em;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .grid-itm.main-article {
        grid-column-start: 2;
        grid-column-end: 6;
    }

}